<p id="notice"><%= notice %></p>


<p>
  <strong>Keywords:</strong>
  <%= @producto.keywords %>
</p>

<p>
  <strong>Description:</strong>
  <%= @producto.description %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @producto.subject %>
</p>

<p>
  <strong>Title:</strong>
  <%= @producto.title %>
</p>

<p>
  <strong>Sub title:</strong>
  <%= @producto.sub_title %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @producto.modelo %>
</p>

<p>
  <strong>Altura:</strong>
  <%= @producto.altura %>
</p>

<p>
  <strong>Incluye:</strong>
  <%= @producto.incluye %>
</p>

<p>
  <strong>Colores:</strong>
  <%= @producto.colores %>
</p>

<p>
  <strong>Altura min:</strong>
  <%= @producto.altura_min %>
</p>

<p>
  <strong>Altura max:</strong>
  <%= @producto.altura_max %>
</p>

<p>
  <strong>Material:</strong>
  <%= @producto.material %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @producto.precio %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @producto.descuento %>
</p>

<p>
  <strong>Vesa:</strong>
  <%= @producto.vesa %>
</p>

<p>
  <strong>Dimensiones:</strong>
  <%= @producto.dimensiones %>
</p>

<p>
  <strong>Distancia:</strong>
  <%= @producto.distancia %>
</p>

<p>
  <strong>Peso:</strong>
  <%= @producto.peso %>
</p>

<p>
  <strong>Angulo in:</strong>
  <%= @producto.angulo_in %>
</p>

<p>
  <strong>Angulo giro:</strong>
  <%= @producto.angulo_giro %>
</p>

<p>
  <strong>Color:</strong>
  <%= @producto.color %>
</p>

<%= link_to 'Edit', edit_producto_path(@producto) %> |
<%= link_to 'Back', productos_path %>
